
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */