body{
	color: #efefef;
    font-family: 'Segoe UI';
    font-size: 17px;
}

html, body {
  scroll-padding-top: 66px;
}

html {
	scroll-behavior: smooth;
}

img{
	width: 100%;
}

main div:before {
	display: none;
	height: 28px;
	content: "";
	visibility: hidden;
}

ul{
	list-style: none;
}

.tlo{
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 80%), url(obrazy/tlo.jpg);
 	background-size: cover;
  	background-position: center;
}

button {
	border: none;
	border-color: gray !important;
 }